body {
    margin: 0px;
    font-family:'Poppins', sans-serif;
    background-image: url('../Img/Backgrounfinal.png');
    background-size: cover;                /* Ajusta la imagen para cubrir todo */
    background-position: center center;    /* Centra la imagen */
    background-repeat: no-repeat;          /* No repite la imagen */
    background-attachment: fixed;          /* Mantiene el fondo fijo al hacer scroll */
    height: 100vh; 
    color: #EAD7B7;                        /* Altura del 100% de la ventana */
}

.header {
    display: flex;
    flex-direction: column;
    padding: 19px 0px;
    gap: 10.5px;
}
.titulo {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #EAD7B7
}

.navbar {
    background-color: #1e1e1e6c;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    width: 250px;
}
.nav_links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 16px 0px 0px 0px;
}
.nav_links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.61);
    font-weight: 500;
    position: relative;
}

.nav_links a:hover{
    color: #00bcd4
}

/* linea bajo los links*/
.nav_links a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #00bcd4;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

.nav_links a:hover::after{
    width: 100%;
} 

.main {
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    margin: 0px 20%;
}

.main fieldset {
    border: 2px solid #EAD7B7;
    background-color: #1a1412ce;
    border-radius: 20px;
    padding: 30px;
}

.input{
    background-color: #e7c58b;
    border-radius: 20px;
    text-align: center;
    padding: 0px 10px;
}

.boton{
    background-color: #e7c58b;
    border-radius: 10px 0px 0px 0px;
    text-align: center;
    padding: 0px 10px;
}

.input:hover{
    scale: 1.02;
    background-color: #EAD7B7;
}

.opinion {
    background-color: #e7c58b;
    width: 100%;
    border: 2px solid #1a1412;
    border-radius: 0px 10px;
    margin: 20px 0px 0px;
}

.footer {
    
    padding: 10px 0px;
    background-color: #1e1e1e6c;
    text-align: center;
    color: rgba(255, 255, 255, 0.447);
}

