body {
    font-family:'Poppins', sans-serif;
    background-image: url('../Img/Fondo.jpg');
    background-size: cover;                /* Ajusta la imagen para cubrir todo */
    background-position: center center;    /* Centra la imagen */
    background-repeat: no-repeat;          /* No repite la imagen */
    background-attachment: fixed;          /* Mantiene el fondo fijo al hacer scroll */
    height: 100vh;                         /* Altura del 100% de la ventana */
}
main {
    line-height: 1.5;
}

.titulo {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #1e1e1ec9
}

.navbar {
    background-color: #1e1e1e6c;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    width: 250px;;
    ;
}
.nav_links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
}
.nav_links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.61);
    font-weight: 500;
    position: relative;
}

.nav_links a:hover{
    color: #00bcd4
}

/* linea bajo los links*/
.nav_links a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #00bcd4;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}
.nav_links a:hover::after{
    width: 100%;
} 

.footer {   
    padding: 1px;
    background-color: #1e1e1e6c;
    text-align: center;
    color: rgba(255, 255, 255, 0.447);
}