/* General */

body {
    margin: 0px;
    font-family:'Poppins', sans-serif;
    background-image: url('../Img/Backgrounfinal.png');
    background-size: cover;                /* Ajusta la imagen para cubrir todo */
    background-position: center;    /* Centra la imagen */
    background-repeat: no-repeat;          /* No repite la imagen */
    background-attachment: fixed;          /* Mantiene el fondo fijo al hacer scroll */
    height: 100vh;                         /* Altura del 100% de la ventana */
}

#grilla {
    display: grid;
    grid-template-areas: 
        "header header navbar"
        "header header navbar"
        "main main main"
        "main main main"
        "footer footer footer";
    grid-template-columns: 6fr 5fr 1fr ;
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
}
header { grid-area: header; }
nav    { grid-area: navbar; }
main   { grid-area: main; }
footer { grid-area: footer; }   


/* Header */
.logo {
    width: 250px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulo {
    margin: 0px 10px;
    font-size: 30px;
    color: #ead7b7ca
}
.subtitulo {
    margin: 0px 10px;
    font-size: 20px;
    color: #ead7b7a5
}

/* Navbar */
.logo2 {
    width: 100%;
    opacity: 0.3;
}
.navbar {
    margin: 0px 10px 0px 10px;
    background-color: #1a141268;
}
.navbar ul { 
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 20px;
    list-style: none;
}

.nav_links li a{
    display: inline-block;
    width: 90%;
    text-align: center;
    border: 2px solid #8c5e3c;
    padding: 5px;
    border-radius: 5px;
    color: #ead7b7;
    text-decoration: none;
}

.nav_links a:hover{
    background-color: #8c5d3c4d;
}
#cerrar{
    background-color: rgba(108, 2, 2, 0.196);
}
#cerrar:hover{
    background-color: #560101a6;
}


/* ----- main ----- */
.main {
    margin: 10px 0px 10px 10px ;
    display: flex;
    backdrop-filter: blur(1.2px);
}
.main section {
    padding-inline: 10px;
    background-color: #1a141268;
    color: #EAD7B7;
}
.banner {
    padding: 20PX 0PX 0PX;
    width: 125px;
}

/* footer */
.footer {
    backdrop-filter: blur(1px);
    padding: 1px;
    background-color: #1a141268;
    text-align: center;
    color: #EAD7B7
}

