body {
    margin: 0px;
    font-family:'Poppins', sans-serif;
    background-image: url('../Img/Backgrounfinal.png');
    background-size: cover;                /* Ajusta la imagen para cubrir todo */
    background-position: center;           /* Centra la imagen */
    background-repeat: no-repeat;          /* No repite la imagen */
    background-attachment: fixed;          /* Mantiene el fondo fijo al hacer scroll */
    height: 100vh;                         /* Altura del 100% de la ventana */
}


.logo {
    width: 250px;
}

/* seccion del navbar */
.navbar {
    background-color: #1e1e1e6c;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 16px 0px 0px 0px;
}
.nav_links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.61);
    font-weight: 500;
    position: relative;
}


/* linea bajo los links*/

#cerrar {
    color: rgba(255, 0, 0, 0.484);
}
#cerrar::after{
    background: rgba(255, 0, 0, 0.484) ;
}

.nav_links a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #00bcd4;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

.nav_links a:hover::after{
    width: 100%;
} 




/* -----------grilla---------- */
#grilla {
    display: grid;
    grid-template-areas: 
        "header header indice"
        "main main main"
        "main main main"
        "footer footer footer";
    grid-template-columns: 6fr 4fr 2fr ;
    grid-template-rows: 1fr 3fr 2fr 0.5fr;
}
#header{ grid-area: header; }
#indice{ grid-area: indice; }
#main   { grid-area: main; }
#footer { grid-area: footer; }   
/* -------------------------- */




/* ------ Indice ------ */
#indice {
    margin: 0px 10px;
}
.indice_links{
    display: flex;
    flex-direction: column;
    list-style: none;    

    background-color: #1a141282;
    padding: 10% 10px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 5PX;
}
.indice_links li {
    text-align: center;
}

.indice_links li a, .indice_links li p{
    text-align: center;
    color: #EAD7B7;
    text-decoration: none;
}
.indice_links li a:hover{
    color: #ede6da;
}
/* ------------------------- */


.titulo {
    color: #EAD7B7;
    padding: 1%;
}


/* ------ Main ------ */
#main {
    margin: 0px 10px ;
    color: #EAD7B7;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listas {
    display: flex;
    justify-content:space-around;
    list-style-type: none;

}

.tablas {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #1a141282;
    padding: 2%;
    margin: 0px 0px 5% 0px;
    backdrop-filter: blur(1px);
    border-collapse: collapse;
    transition: 0.5s;
}

.tablas th, .tablas td {
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

.tablas:hover  {
    background-color: #1a14129f;
    border: 2px solid #ead7b783;
    scale: 0.9;
}





#footer {
    background-color: #1a141268;
    text-align: center;
    color: #EAD7B7;
    backdrop-filter: blur(1px);
}